:root{
    --color-1: #BE1622;
  }
  .logo{
    margin-top:10px ;
    margin-bottom: 10px;
    text-align: center;
  }
  h1{
      color: #ffffff;
  }
  body{
      line-height: 1.5;
      font-family: sans-serif;
      background-color: #c7cbda;
  }
  *{
      box-sizing: border-box;
      margin:0;
      padding:0;
  }
  
  a{
      text-decoration: none;
      color:#007FB0;
  }
  ul{
      list-style: none;
  }
  .container{
      max-width: 1170px;
      margin: auto;
  }
  .row{
      display: flex;
      flex-wrap: wrap;
  }
  h3{
      text-align: center;
  }
  
  .justify-content-between{
      justify-content: space-between;
  }
  /*header*/
  .header{
      background-color: var(--color-1);
      padding:12px 0;
      position: relative;
  }
  .header ,
  .header .nav{
      
      padding:0 15px;
  }
  .header  a{
      font-size: 30px;
      color: #ffffff;
      text-transform: capitalize;
  }
  .header .nav ul li{
      display: inline-block;
      margin-left: 40px;
  }
  .header .nav ul li a{
      display: block;
      font-size: 16px;
      padding:10px 0;
      color: rgba(255,255,255,0.7);
      text-transform: capitalize;
      transition: all 0.5s ease;
  }
  .header .nav ul li a:hover,
  .header .nav ul li a.active{
      color: #ffffff;
  }
  .header #nav-check{
      position: absolute;
      opacity:0;
      pointer-events: none;
  }
  .nav-toggler{
      margin-top: 10px;
      margin-bottom: 10px;
      height: 40px;
      width: 44px;
      background-color: #ffffff;
      border-radius: 4px;
      cursor: pointer;
      display: none;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
  }
  .nav-toggler span{
      display: block;
      height: 2px;
      width: 20px;
      background-color: var(--color-1);
      position: relative;
  }
  .nav-toggler span::before,
  .nav-toggler span::after{
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: var(--color-1);
     left:0;
  }
  .nav-toggler span::before{
      top: -6px;
  }
  .nav-toggler span::after{
      top: 6px;
  }
  /*iframe*/

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
   
}
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 80%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
/*product anchors*/
.product-types{
    text-align: center;
}
.nav-prod-anchor{
    padding: 10px;
}
/* products desktop*/
  #products {
    display: flex;
    flex-wrap: wrap;
    background-color:#ffffff ;
    margin: 0 -4px -4px 0;
  }
  .product-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 20%;
    display: table;
    border-top:4px solid #919cad ;
    border-right: 4px solid #919cad;
    
  }
  
  .product-image img {
    max-width: 100%;
    height: auto;
  }
  .product-info {
    margin-top:auto ;
  }

  /* item description*/
  .details-product{
      margin: 10%;
  }
 .details-product-type{
     text-align: center;
 }
 .details-title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.details-product-image{
    max-width: 80%;
    height: auto;   
}
.details-desc-img{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff ;
    width: auto;
}
.details-product-desc{
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
    padding: 400px;
    
}
.details-price-cart{
    text-align: right;
}
 
/* cart style*/

.cart-products {
    display: flex;
    flex-wrap: wrap;
    background-color:#ffffff ;
    margin: 0 -4px -4px 0;
  }
  .cart-desc-img{
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    background-color: #ffffff ;
  }
  .cart-title{
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    color:#ffffff;
    background-color: #34516c;
    
  }
  .tradeOffer{
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    background-color: #ffffff ;
  }
  .cart-button{
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px;
    background-color: #ffffff ;
  }
  @media(max-width: 1080px){
      .nav-toggler{
          display: flex;
      }
      .header .nav{
          position: absolute;
          left:0;
          top:100%;
          width: 100%;
          background-color: var(--color-1);
          border-top: 1px solid rgba(255,255,255,0.2);
          opacity:0;
          visibility: hidden;
      }
      .header .nav ul li{
          display: block;
          margin:0;
      }
      .header #nav-check:checked ~ .nav{
         opacity: 1;
         visibility: visible;
      }
      
      .header #nav-check:checked ~ .nav-toggler span{
          background-color: transparent;
      }
      .header #nav-check:checked ~ .nav-toggler span::before{
          top:0;
          transform: rotate(45deg);
      }
      .header #nav-check:checked ~ .nav-toggler span::after{
          top:0;
          transform: rotate(-45deg);
      }
      /*item page*/
      .details-desc-img{
        display:block;
    }
    /*cart phone*/
    .cart-products {
        display: flex;
        flex-wrap: wrap;
        background-color:#ffffff ;
        margin: 0 -4px -4px 0;
      }
      .cart-desc-img{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background-color: #ffffff ;
      }
      .cart-title{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color:#ffffff;
        background-color: #34516c;
        
      }
      .tradeOffer{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        background-color: #ffffff ;
      }
      .cart-button{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        background-color: #ffffff ;
      }
    
      
  }
  input[type=button]{
    background-color: #34516C;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  